{
  "env": {
    "node": true,
    "browser": true,
    "mocha": true,
    "es6": true
  },
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "rules": {
    "quotes": [2, "single", "avoid-escape"]
  }
}
